html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Montserrat;
    font-style: normal;
    background: #FFB015;
}

    body{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        font-weight: 100;
    }

        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
        }
            .boldSpan{
                font-weight: 500;
            }

            .section1{
                display: flex;
                flex-direction: column;
                align-items: center;

                padding-top: 5%;
                text-align: center;
            }

                .titleDiv{
                    font-size: 48pt;
                    margin: 10% 0 2.5% 0;
                }

                    .titleDiv .taxi{
                        font-weight: 500;
                    }
                
                .subTitleDiv{
                    font-size: 18pt;
                    margin-bottom: 10%;
                }

                .clipArt{
                    width: 80%;
                }

                .callOrBookDiv{
                    margin: 10% 0 10% 0;
                    font-size: 36pt;
                }

                    .orSpacer{
                        font-weight: 800;
                    }

            
            .section2{
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 10% 0 10% 0;
                text-align: center;
            }

                .info{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .info div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 40%;
                        max-width: 100%;
                    }

                    .info h3{
                        margin-bottom: 8px;
                    }

                    .info div input{
                        margin: 2.5% 0;
                        font-size: 30pt;
                        padding: 5px;
                        background: black;
                        color: #FFB015;
                    }

                        .info div input:focus{
                            background: white;
                            color: black;
                        }

                            .info div input:focus::placeholder{
                                color: black;
                            }

                        .info div input::placeholder {
                            color: white;
                        }
                        
                    .info .text{
                        width: 100%;
                    }

                    .info div .textIn{
                        height: 90px;
                        margin: 10px 0;
                        padding: 5px;
                        resize: none;
                        background: black;
                        color:#FFB015;
                    }

                        .info div .textIn:focus{
                            background: white;
                            color: black;
                        }

                            .info div .textIn:focus::placeholder{
                                color: black;
                            }

                        .info div .textIn::placeholder {
                            color: white;
                        }

                    .info .button{
                        display: flex;
                        align-self: center;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        margin: 2.5%;
                        padding: 2.5% 5%;
                        background: black;
                        color: white;
                        transition:all 0.2s ease;
                    }

                        .info .button:hover{
                            cursor: pointer;
                            color: white;
                            background-position:bottom;
                        }

                        .info .button h3{
                            font-size: 30pt;
                            margin: 0;
                        }

            .section3{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 0vh;

                text-align: center;
            }

                .s3Code{
                    width: 330px;
                    border-radius: 25px;
                }

                .s3Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s3Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0;
                        text-shadow: 3px 3px black;
                    }

                    .s3Text{
                        font-size: 16px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }

            footer{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            
                color: black;
                font-weight: 400;
            }
            
                .copyright{
                    margin-bottom: 10px;
                }
                
                .footerInfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 80%;
                }
                    .footerInfo h2{
                        margin: 0;
                        border-bottom: solid;
                        border-width: 2px;
                        font-size: 20px;
                    }
            
                    .footerDetail{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                    }
            
                        .footerDetail h3{
                            margin: 8px 0 0px 0;
                            font-size: 15px;
                        }
            
                        .emailPhone{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
            
                            border-right: none;
                            border-width: 2px;
                            padding: 0 10px 0 0;
                        }
            
                        .location{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 0 0 0 10px;
                        }
                    
                    .copyright{
                        font-size: 12px;
                    }
        


/* ----------MOBILE / TABLET---------- */

@media only screen and (min-width: 768px){
    .main{

    }
}



/* ----------LARGER TABLET / DESKTOP---------- */
@media only screen and (min-width: 1024px){
    body{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        font-weight: 100;
    }

        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
        }
            .boldSpan{
                font-weight: 500;
            }

            .section1{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 100vh;

                padding-top: 5%;
                text-align: center;
            }

                .titleDiv{
                    order: 0;
                    font-size: 48pt;
                    margin: 10% 0 10% 0;
                }

                    .titleDiv .taxi{
                        font-weight: 500;
                    }

                .clipArt{
                    order: 2;
                    width: 200%;
                }

                .callOrBookDiv{
                    order: 1;
                    margin: 10% 0 10% 0;
                    font-size: 36pt;
                }

                    .orSpacer{
                        font-weight: 800;
                    }

            
            .section2{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80vh;

                text-align: center;
            }

                .info{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .info div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 40%;
                        max-width: 100%;
                    }

                    .info h3{
                        margin-bottom: 8px;
                    }

                    .info div input{
                        margin: 2.5% 0;
                        font-size: 30pt;
                        padding: 5px;
                        background: black;
                        color: #FFB015;
                    }

                        .info div input:focus{
                            background: white;
                            color: black;
                        }

                            .info div input:focus::placeholder{
                                color: black;
                            }

                        .info div input::placeholder {
                            color: white;
                        }
                        
                    .info .text{
                        width: 100%;
                    }

                    .info div .textIn{
                        height: 90px;
                        margin: 10px 0;
                        padding: 5px;
                        resize: none;
                        background: black;
                    }

                        .info div .textIn:focus{
                            background: white;
                            color: black;
                        }

                            .info div .textIn:focus::placeholder{
                                color: black;
                            }

                        .info div .textIn::placeholder {
                            color: white;
                        }

                    .info .button{
                        display: flex;
                        align-self: center;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        margin: 2.5%;
                        padding: 2.5% 5%;
                        background: black;
                        color: white;
                        transition:all 0.2s ease;
                    }

                        .info .button:hover{
                            cursor: pointer;
                            color: white;
                            background-position:bottom;
                        }

                        .info .button h3{
                            font-size: 30pt;
                            margin: 0;
                        }

            .section3{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 0vh;

                text-align: center;
            }

                .s3Code{
                    width: 330px;
                    border-radius: 25px;
                }

                .s3Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s3Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0;
                        text-shadow: 3px 3px black;
                    }

                    .s3Text{
                        font-size: 16px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }

            footer{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            
                color: white;
                font-weight: 400;
                padding-bottom: 15px;
            }
            
                .copyright{
                    margin-bottom: 10px;
                }
                
                .footerInfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                    .footerInfo h2{
                        margin: 0;
                        border-bottom: solid;
                        border-width: 2px;
                        font-size: 25px;
                    }
            
                    .footerDetail{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                    }
            
                        .footerDetail h3{
                            margin: 8px 0 8px 0;
                            font-size: 18px;
                        }
            
                        .emailPhone{
                            display: block;
            
                            border-right: solid;
                            border-width: 2px;
                            padding: 0 10px 0 0;
                        }
            
                        .location{
                            display: block;
            
                            padding: 0 0 0 10px;
                        }
                
                .copyright{
                    font-size: 18px;
                }
}