*{
    box-sizing: border-box
}

body {
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}
.verkefni h1{
    text-align: center
}

.box1 {
    border: 5px solid red;
    padding: 2em;
    margin-top: 1em;
    color: red;
}

.box1 h1 { 
    border: 3px solid green;
}


.box2 {
border: 5px dashed blue;
padding: 1em;
color: blue;
}

.box2 h1{
    color: blue;
    border: none;

}

ul li{
    border: 3px dashed green;
    padding: 1em;
    margin-top: 1em;

}

.inLine li{
    display: inline;
    border: 3px dashed blue;
    color: red;

}

.inLineBlock li{
    display: inline-block;
    border: 3px dashed red;
    color: black;
}

.row div{
    float: left;
    
}

.box-1-3{
    width: 33.33%;
    border: 1px solid;
    padding: 1em;
}

.box-1-2{
    width: 50%;
    border: 1px solid;
    padding: 1em;
}