* {box-sizing: border-box}
body {
    background-color: #0064ce;
    background: linear-gradient(to bottom, #0064ce 87%, #001933);
    color: #444444;
    font: 400 1em/1.5 "Open Sans", "sans serif"; /* Samsett skipun, þyngd/hæð, size, family */
}
.container {
    max-width: 60em; /* fartölvustærð */
    margin: 0 auto; /* top/bottom og left/rigth*/
    padding: 0;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.beige {
    background-image: linear-gradient(to bottom, #f7d37e, #f6f1d3);
    padding: 1em;
}
.top {
    background: linear-gradient(to bottom, #0064ce 87%, #001933);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20vh;
}
header h1 {
    color: white;
    font-weight: 200;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
}
.topnav {
    margin-top: 0em;
    margin-right: 5em;
}
header a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 1em;
    margin-top: 5em;
}
.verkefni {
    text-align: right;
    color: #f7d37e;
}
.copy {
    color: #fff;
    text-align: center;
}
blockquote {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
}
footer {
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:visited {
    color: black;
}
footer {
    list-style-type: none;
    padding-bottom: 0.2;
}
dt {
    color: #f7d37e;
}
.buttonTop{
    position: fixed;
    background: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    bottom: 20px;
    right: 20px;
    text-align: center;
}
