* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 2fr 1fr max-content;
    grid-template-columns: 1fr;
    grid-column-gap: 0.6em;
    grid-row-gap: 1px;
 
}

.header{
    display: flex;
    background: #342c5c;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    font-family: 'Montserrat', sans-serif;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation > div{
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.navigation > div:hover, .navigation > div:active{
    color: black;
    background: #BFC0C0;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2px;
    min-height: 98vh;
}

.box1{
    background: #67647d;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: white;
}
.box2{
    background: #272d50;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: white;
}
.box3{
    background: #67647d;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    color: white;
}

.footer{
    background: #342c5c;
    color: white;
    text-align: center;
    padding: 1em;
}