* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.tool_section{
    display: flex;
    background: grey;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
}

.tool_section img{
    max-width:10%;
    padding-left: 5%;
}


.navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    font-family: 'Montserrat', sans-serif;
    bottom: 2%;
    position: fixed;
    width: fill;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation > div{
    background: #333;
    color: white;
    padding: 1.84em;
    text-align: center;
}

.navigation > div:hover, .navigation > div:active{
    color: black;
    background: #BFC0C0;
}
