html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    font-family: Montserrat;
    font-style: normal;
    background: rgb(2,0,36);
    background: linear-gradient(300deg, rgba(2,0,36,1) 1%, rgba(29,31,74,1) 13%, rgba(42,45,91,1) 43%, rgba(61,59,115,1) 48%, rgba(63,165,213,1) 100%);
}

    body{
        height: 100%;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
        }

            .section1{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 85vh;

                padding-top: 2.5em;
                text-align: center;
            }

                .s1Iphone{
                    width: 190px;
                }
                
                .s1Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                    .s1Info h1{
                        font-size: 30px;
                        width: 90%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s1Info h5{
                        font-size: 12px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }
            
            .section2{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 90vh;

                text-align: center;
            }

                .s2Devices{
                    width: 300px;
                }

                .s2Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s2Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s2Text{
                        font-size: 20px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }

                .s2Button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;

                    background: white;
                    color: #3FA5D5;
                    border-radius: 15px;
                    margin: 15% 0 0 0 ;
                }

            .section3{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 90vh;

                text-align: center;
            }

                .s3Code{
                    width: 330px;
                    border-radius: 25px;
                }

                .s3Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s3Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s3Text{
                        font-size: 20px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }

                .s3Button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;

                    background: white;
                    color: #3FA5D5;
                    border-radius: 15px;
                    margin: 15% 0 0 0 ;
                }

        .footer{
            
        }


/* ----------MOBILE / TABLET---------- */

@media only screen and (min-width: 768px){
    .main{

    }
}



/* ----------LARGER TABLET / DESKTOP---------- */
@media only screen and (min-width: 1024px){
    body{
        width: 60vw;
    }

        .main{
        }

            .section1{
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                
                padding: 4% 0% 4% 0;
            }

                .section1:hover .s1Iphone{
                    transform: scale(1.05);
                    transition:all 0.3s ease-out;
                }

                .section1:hover .s1Info{
                    transform: scale(1.05);
                    transition:all 0.6s ease-out;
                }

                .s1Iphone{
                    order: 1;
                    width: 320px;

                    padding: 0% 0% 0% 5%;
                    transition:all 0.6s ease-out;
                }

                .s1Info{
                    order: 0;
                    height: 100%;
                    width: 60%;
                    justify-content: center;
                    align-items: flex-start;
                    text-align: start;
                    margin-bottom: 15%;
                    transition:all 1s ease-out;
                }

                    .s1Info h1{
                        font-size: 60px;
                    }
                    
                    .s1Info h5{
                        font-size: 20px;
                    }

            .section2{
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                
                padding: 0% 0% 4% 0%;
            }

                .section2:hover .s2Devices{
                    transform: scale(1.05);
                    transition:all 0.3s ease-out;
                }

                .section2:hover .s2Info{
                    transform: scale(1.05);
                    transition:all 0.6s ease-out;
                }

                .s2Devices{
                    order: 0;
                    width: 500px;

                    padding: 0% 0% 0% 0%;
                    transition:all 0.3s ease-out;
                }

                .s2Info{
                    order: 1;
                    height: 100%;
                    width: 60%;
                    justify-content: center;
                    align-items: flex-start;
                    text-align: start;
                    margin: 0 0 0 0;
                    transition:all 0.6s ease-out;
                }

                    .s2Info h2{
                        font-size: 60px;
                    }
                    
                    .s2Text{
                        font-size: 20px;
                    }

                    .s2Button{
                        margin: 8% 0 0%;
                    }
            
            .section3{
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                
                padding: 0% 0% 4% 0%;
            }

                .section3:hover .s3Code{
                    transform: scale(1.05);
                    transition:all 0.3s ease-out;
                }

                .section3:hover .s3Info{
                    transform: scale(1.05);
                    transition:all 0.6s ease-out;
                }

                .s3Code{
                    order: 0;
                    width: 500px;

                    padding: 0% 0% 0% 0%;
                    transition:all 0.3s ease-out;
                }

                .s3Info{
                    order: 1;
                    height: 100%;
                    width: 60%;
                    justify-content: center;
                    align-items: flex-end;
                    text-align: end;
                    margin: 0 0 0 0;
                    transition:all 0.6s ease-out;
                }

                    .s3Info h2{
                        font-size: 60px;
                    }
                    
                    .s3Text{
                        font-size: 20px;
                    }

                    .s3Button{
                        margin: 8% 0 0%;
                    }
}
