body{
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lacquer', sans-serif;
    background: url(/CBO/pictures/background-space.jpg);
    background-size: 100%;
    background-position: var(--x) var(--y);
    --x: 0px;
    --y: 0px;

}

    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: calc(0.8em + 0.8vw);
        text-decoration: underline;
        color: white;
        width: 100%;
    }

        .left_div{
            width: 100%;
        }

            .left_ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

                .left_ul li{
                    padding: 20% 5% 20% 20%;
                }

        .cbo_logo{
            width: 50vw;
        }

        .right_div{
            width: 100%;
        }

            .right_ul{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

                .right_ul li{
                    padding: 20% 20% 20% 5%;
                }