* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 10fr;
    grid-template-columns: 1fr;
    grid-column-gap: 0.6em;
    grid-row-gap: 1px;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
 
}

.header{
    display: flex;
    align-items: center;
    justify-content: left;

    background: #ff9292;
    color: black;
    font-size: 30pt;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
}

.navigation > div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a6c143;
    color: black;
    padding: 1em;
    text-align: center;
}

.navigation > div:hover, nav > div:active{
    color: white;
    background: #ff503c;
}

.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 2px;
    min-height: 98vh;
    font-family: 'Srisakdi', cursive;
    font-weight: bold;
}

.box1{
    background: #ff503c;
    padding: 20px;
    color: black;
}
.box2{
    background: #ff7f54;
    padding: 20px;
    color: black;
}
.box3{
    background: #ff7f54;
    padding: 20px;
    color: black;
}

.footer{
    background: #ff9292;
    color: black;
    text-align: center;
    padding: 1em;
}