* {
    box-sizing: border-box;
}

  .container{
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        grid-template-areas: 
            "header header header"
            "bside main aside"
            "footer footer footer";
        grid-gap: .60em;        
        height: 100h;
        font-family: 'Slabo 27px', serif;
    }

    header{
        grid-area: header;
        background-color: #2D3142; 
        font-family: 'Slabo 27px', serif;
    }

    nav{
        text-align: center;
        grid-area: nav;
        display: block;
        list-style-type: disc;
        font-family: 'Slabo 27px', serif;
    }

    .nav li{
        display: inline-flex;
        border: 3px solid black;
        color: black;
        background-color: white; 
        font-size: 20pt;
        padding: 4px;
        margin: 4px;
    }
    
    .nav li a{
        cursor: pointer;
        text-decoration: none;

    }

    .nav li a:hover, .nav li a:active{
        transition: transform .2s;
        transform: scale(1);

    }

    .nav li:hover, .nav li a:active{
        transition: transform .2s;
        transform: scale(1.08);
    }

    main{
        grid-area: main;
        background-color: #4F5D75;
        min-height: 80vh;
        font-family: 'Slabo 27px', serif;
    }

    bside{
        grid-area: bside;
        background-color: #BFC0C0;
        min-height: 80vh;
        font-family: 'Slabo 27px', serif;
    }

    aside{
        grid-area: aside;
        background-color: #EF8354;
        min-height: 80vh;
        font-family: 'Slabo 27px', serif;
    }

    footer{
        grid-area: footer;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: lightgreen;
        padding: 10px;
        font-family: 'Slabo 27px', serif;
    }

    header h1{
        text-align: center;
        font-size: 30pt;
        color:white;

    }

    main article{
        text-align: center;
        color: black;
        font-size: 14pt;
        padding: 20px;
        margin: 20px;
    }

    aside article{
        text-align: center;
        color: black;
        font-size: 14pt;
        padding: 10px;
        margin: 10px;
    }

    bside article{
        text-align: center;
        color: black;
        font-size: 14pt;
        padding: 10px;
        margin: 10px;
    }