html{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    font-family: Montserrat;
    font-style: normal;
}

    body{
        height: 100%;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(300deg, rgba(2,0,36,1) 1%, rgba(29,31,74,1) 13%, rgba(42,45,91,1) 43%, rgba(61,59,115,1) 48%, rgba(63,165,213,1) 100%);
        overflow: scroll;
    }
        
        .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            color: white;
        }

            .section1{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                height: 70vh;
                text-align: center;
            }

                .s1Devices{
                    width: 300px;
                    padding: 50px 0 0 50px;
                }
                
                .s1Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

                    .s1Info h1{
                        font-size: 30px;
                        width: 90%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s1Info h5{
                        font-size: 16px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }
            
            .section2{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                height: 65vh;
                text-align: center;
            }

                .s2Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s2Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s2Info h3{
                        font-size: 16px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }
                
                .s2Mobile{
                    width: 300px;
                    border-radius: 25px;
                    margin: 50px 0;
                }    

                .s2Button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;

                    background: white;
                    color: #3FA5D5;
                    border-radius: 15px;
                    margin: 15% 0 0 0 ;
                }

            .section3{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                height: 70vh;
                text-align: center;
            }

                .s3Info{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin: 10% 0 0 0;
                }

                    .s3Info h2{
                        font-size: 25px;
                        width: 80%;
                        font-weight: bold;
                        margin: 5% 0 0 0 ;
                    }

                    .s3Info h3{
                        font-size: 16px;
                        width: 80%;
                        font-weight: 600;
                        margin: 5% 0 0 0 ;
                    }

                .s3Mobile{
                    width: 300px;
                    border-radius: 25px;
                    margin: 50px 0;
                }

                .s3Button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 200px;
                    height: 50px;

                    background: white;
                    color: #3FA5D5;
                    border-radius: 15px;
                    margin: 15% 0 0 0 ;
                }

        .footer{
            
        }

/* ----------MOBILE / TABLET---------- */
@media only screen and (min-width: 768px){
    .main{

    }
}

/* ----------LARGER TABLET / DESKTOP---------- */
@media only screen and (min-width: 1024px){
    body{
        width: 80vw;
    }
}