.nav_ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    margin: 0;
    list-style-type: none;
}

    .nav li{

    }
        .nav li:hover{
            transform: scale(1.1);
            transition: 0.2s;
            z-index: 2;
        }

    .nav a{
        text-decoration: none;
        color: #3FA5D5;
        font-weight: 900;
        font-size: 22px;
        transition: all 0.05s ease-in;
        height: auto
    }

        .nav a:hover{
            border-bottom: solid 2px;
        }