.menuOverlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
    background: rgba(2,0,36,1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    font-weight: 600;
    
    clip-path: ellipse(0px 0px at 0% 50%);
    -webkit-clip-path: ellipse(0px 0px at 0% 50%);
    transition:all 0.2s ease-out;

}

    .menuOverlay.Visible{
        clip-path: ellipse(500px 1200px at -40% 50%);
        -webkit-clip-path: ellipse(135vw 1200px at -40% 50%);
        transition:all 0.5s ease-out;
        overflow: hidden;
        z-index: 0
    }

    .menuOverlay a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin: 40px;
    }

/* ----------MOBILE / TABLET---------- */

@media only screen and (min-width: 768px){
    .menuOverlay{
        width: 50%;
    }

    .menuOverlay.Visible{
        clip-path: ellipse(500px 1200px at -40% 50%);
        -webkit-clip-path: ellipse(50vw 1200px at 0% 50%);
    }
}

/* ----------LARGER TABLET / DESKTOP---------- */
@media only screen and (min-width: 1024px){
    .menuOverlay{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;

        width: 100%;
        height: 15vh;
        -webkit-clip-path: none;
        background: none;
        padding: 20px 0 0 0;        

    }

        .menuOverlay a{
            font-size: 25px;
            font-weight: 600;
            transition:all 0.1s ease-out;
        }

        .menuOverlay a:hover{
            border-bottom: solid;
        }

        .menuOverlay .heim{
            margin-left: 0;
        }

        
}

/* ---------- Laptops ---------- */
@media only screen and (max-height: 800px){
    @media only screen and (min-width: 1024px){
        .menuOverlay a{
            font-size: 20px;
        }
    }
}