.menuOverlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(2,0,36,1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    
    
    clip-path: ellipse(0px 0px at 0% 50%);
    -webkit-clip-path: ellipse(0px 0px at 0% 50%);
    transition:all 0.2s ease-out;

}

    .menuOverlay.Visible{
        clip-path: ellipse(500px 1200px at -40% 50%);
        -webkit-clip-path: ellipse(500px 1200px at -40% 50%);
        transition:all 0.5s ease-out;
        overflow: hidden;
        z-index: 0
    }

    .menuOverlay a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin: 40px;
    }

    .menuIcon{
    }