* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.add_remove{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.add_remove .add{
    padding: 1em 2em;
    width: 25%;
    margin: 2% 50% 0% 0;
}

.add_remove .remove{
    padding: 1em 2em;
    width: 25%;
    margin: 2% 0 0% 0%;
}

.dropdown_main{
    display: none;
    padding-top: 1em;
}


.add_menu{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    padding: 1em 1em 2em 0;
}

.add_menu >*{
    flex: 1 1 30%;
}

.tool_name_in{
    margin-bottom: 1em;
}

.save_button{
    position: relative;
    left: 0%;
    padding: 1em 2em;
    margin: 0 0 2em 0;
    font-size: 10pt;
    font-weight: bold; 
    color: white;
    background:#14489f;
}

.save_button:hover, .save_button:active{
    color: white;
    background:#333;

}

.dropdown_remove{
    display: none;
}

.remove_button{
    position: relative;
    left: 0%;
    padding: 1em 2em;
    margin: 0 0 2em 0;
    font-size: 10pt;
    font-weight: bold; 
    color: white;
    background:#9f1414;
}

.searchbar{
    width: 100%;
    margin: 1em 0 0 0;
}

.searchbar input{
    width: 100%;
    font-size: 16pt;
}

.main{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    max-width: 48em;
    width: 100%;
    height: 68%;
}

.main::-webkit-scrollbar{
    display: none;
}

.tool_section{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    padding: 0;
}

.tool_section li{
    list-style-type: none;
    padding: 1em;
    font-size: 16pt;
    background: lightgray;
    color: black;
}

.tool_section img{
    max-width:10%;
    padding-left: 5%;
}

div a{
    text-decoration: none;
    color: black;
}

.tool_section > li:hover, .tool_section > li:active{
    color: black;
    background: #BFC0C0;
}

.navigation{
    display: block;
    background:#333;
    text-align: center;
    position: sticky;
    bottom: 1em;
    width: 100%;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
    color: white;
    font-size: 18px;
    padding: 1.8em 2em;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation ul > li:hover, .navigation > li:active{
    color: black;
    background: #BFC0C0;
}

.m_navigation{
    display: none;
    background:#333;
    text-align: center;
    position: sticky;
    bottom: 1em;
    width: 100%;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}

.m_navigation ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.m_navigation ul > li{
    list-style-type: none;
    color: white;
    padding: 0.2em;    
}

.m_navigation .icon{
    text-decoration: none;
    margin-top: 0.5em;
    height: 3em;
    width: 3em;
}

.m_navigation ul > li:hover, .m_navigation > li:active{
    color: black;
    background: #BFC0C0;
}
