header{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    border-right: none;
    border-width: 0px;
    border-color: white;
}

    .menuIcon{
        width: 35px;
        height: 30px;
        margin-right: 40px;
        z-index: 1;
    }

    .logo{
        width: 100px;
        height: 100px;
    }

    .searchIcon{
        width: 38px;
        height: 38px;
        margin-left: 40px;
    }


/* ----------LARGER TABLET / DESKTOP---------- */
@media only screen and (min-width: 1024px){
    header{
        justify-content: space-between;
        position: relative;
        padding: 20px 0 0 0;        
    }
        .menuIcon{
            display: none;
        }

        .searchIcon{
            order: 1;
            margin: 0 40px;
        }

        .logo{
            order: 2;
            width: 138px;
            height: 138px;
        }
}