* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.user_description{
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.user_description h1{
    flex-direction: column;
    width: auto;
}

.user_logo{
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 1em;
}

.button_history{
    position: relative;
    left: 70%;
    padding: 2em;
    margin-top: 3em;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background:#14489f;

}

.button_history:hover, .button_history:active{
    color: black;
    background:#82b6ff;

}

.navigation{
    font-family: 'Montserrat', sans-serif;
    background:#333;
    text-align: center;
    position: fixed;
    bottom: 1em;
    width: 100%;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 1.8em 2em;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation ul > li:hover, .navigation > li:active{
    color: black;
    background: #BFC0C0;
}