body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    color: red

}

h4 {
    color: red
}


.ljod {
    margin-left: 10%;
    margin-right: auto;
    color: blue;
    font-style: italic
}

.ljod strong {
    color: red;
    font-weight:bold
}

.green_list {
    color: green
}

.red_title {
    color: red;
    font-weight: bold;
    font-size: 20pt;
    text-align: center

}

.elvis {
    font-family: 'Courier New', Courier, monospace;

}

.elvis strong {
    color: red
}

.elvis em{
    color: blue;
}