* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}
.add_remove{
    display: flex;
    flex-direction: row;
}

.add_remove .add{
    padding: 1em 2em;
    width: 25%;
    margin: 2% 50% 0% 0;
}

.add_remove .remove{
    padding: 1em 2em;
    width: 25%;
    margin: 2% 0 0% 0%;
}

.searchbar{
    width: 100%;
    margin: 1em 0 0 0;
}

.searchbar input{
    width: 100%;
    font-size: 16pt;
}

.main{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    position: absolute;
    max-width: 48em;
    width: 100%;
    height: 70%;
}

.main::-webkit-scrollbar{
    display: none;
}

.staff_section{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

.staff_section ul{
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    list-style-type: none;
}

.staff_section li{
    list-style-type: none;
    padding: 1em;
    font-size: 16pt;
    background: lightgray;
    color: black;
}

.staff_img{
    max-width: 80%; 
    height: auto;
    padding: 5%;
    margin-left: 2em;
    
}

div a{
    text-decoration: none;
    color: black;
}

.staff_section > li:hover, .staff_section > li:active{
    color: black;
    background: #BFC0C0;
}

.navigation{
    font-family: 'Montserrat', sans-serif;
    background:#333;
    text-align: center;
    position: fixed;
    bottom: 1em;
    width: 100%;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 1.8em 2em;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation ul > li:hover, .navigation > li:active{
    color: black;
    background: #BFC0C0;
}