* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.staff_section{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

.staff_section ul{
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    list-style-type: none;
}

.staff_section li{
    list-style-type: none;
    padding: 1em;
    font-size: 16pt;
    background: lightgray;
    color: black;
}

.staff_img{
    max-width: 80%; 
    height: auto;
    padding: 5%;
    margin-left: 2em;
    
}

div a{
    text-decoration: none;
    color: black;
}

.staff_section > li:hover, .staff_section > li:active{
    color: black;
    background: #BFC0C0;
}

.navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    font-family: 'Montserrat', sans-serif;
    bottom: 2%;
    position: fixed;
    width: auto;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation > div{
    background: #333;
    color: white;
    padding: 1.84em;
    text-align: center;
}

.navigation > div:hover, .navigation > div:active{
    color: black;
    background: #BFC0C0;
}
