* {
    box-sizing: border-box;
}
.container {
    height: 100%;
    max-width: 50em;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 12%;
    display: flex;
    background: #14489f;
    color: white;
    align-items: center;
    justify-content: left;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
}

.main{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    position: absolute;
    max-width: 48em;
    width: 100%;
    height: 70%;
}

.main::-webkit-scrollbar{
    display: none;
}

.check_in_list{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    padding: 0;
}

.check_in_list li{
    list-style-type: none;
    padding: 1em;
    font-size: 16pt;
    background: lightgray;
    color: black;
}

.check_in{
    margin-right: 1em;
}

.check_out{
    margin-right: 1em;
}


.navigation{
    font-family: 'Montserrat', sans-serif;
    background:#333;
    text-align: center;
    position: fixed;
    bottom: 1em;
    width: 100%;
    max-width: 48em;
    margin-right: auto;
    margin-left: auto;
}

.navigation ul{
    padding: 0;
    margin: 0;
}

.navigation ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 1.8em 2em;
}

.navigation a{
    color: inherit;
    text-decoration: none;
}

.navigation ul > li:hover, .navigation > li:active{
    color: black;
    background: #BFC0C0;
}